$background: #dfffd6;
$blurred-background: #ebfee6;
@mixin shadow() {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background: $blurred-background;
}

* {
    box-sizing: border-box;
}
